<!DOCTYPE html>
<html lang="ja">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="../static/img/rm-icon.ico">
        <link rel="apple-touch-icon" href="../static/img/rm180.png">
        <link rel="icon" type="image/png" href="../static/img/rm192.png">
        <title>404 not found</title>
    </head>
    <body>
        <div class="nf404">
            <h1>🍔404 not found🍔</h1>
            <a href="/">戻る</a>
        </div>
    </body>
</html>