<!DOCTYPE html>
<html lang="ja">
<head>
    <title>ハンバーガー大学</title>
</head>
<body>

<div class="page">
    <div class="heading">
        <h1>シンプル1000円</h1>
    </div>
    <div class="1000btn">
        <a href="/menu/get1000", class="btn">シンプルコース(1000円)</a>
    </div>
    <div class="2000btn">
        <a href="/menu/get2000", class="btn">一日分コース(2000円)</a>
    </div>
    <div class="3000btn">
        <a href="/menu/get3000", class="btn">ドカ食い気絶コース(3000円)</a>
    </div>
    <div class="result">
        {% for select in selected %}
        <div class="selected menu">
            <h2>{{ select.name }}</h2>
            <p>{{ select.price }}円, {{ select.cal }}kcal</p>
        </div>
        {% else %}
        {% endfor %}
        <h3>合計{{ total_price }}円, {{ total_cal }}kcal</h3>
    </div>
</div>

</body>
</html>